Package: fyi.zxcvbn.discordnotrack
Name: DiscordNoTrack
Version: 3.0.0
Architecture: iphoneos-arm
Description: blocks discord's requests to most (if not all) telemetry endpoints
Author: zxcvbn
Maintainer: zxcvbn
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 12.0)