Package: fyi.zxcvbn.discordnotrack
Name: DiscordNoTrack
Version: 5.0.0
Architecture: iphoneos-arm
Description: blocks discord's requests to most (if not all) telemetry endpoints
Author: zxcvbn
Maintainer: zxcvbn
Section: Tweaks
Depends: firmware (>= 12.0)